/wp-content/plugins/akismet/
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/plugins/wp-parsidate/

/wp-content/languages/
/wp-content/themes/
/wp-content/uploads/
/wp-content/upgrade/
index.php
wp-config.php
