/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .report-table{ direction: rtl;}

.report-table h1,
.report-table div.info,
.report-table ul.tabs,
.report-table div.tabs,
.report-table div.footer {
  direction: rtl;
  text-align: right;
}

/* Ensure that the demo table scrolls */
.report-table th,
.report-table td {
  white-space: nowrap;
}
.report-table div.dataTables_wrapper {
  width: 800px;
  margin: 0 auto;
}
